<app-header></app-header>
<div class="container-fluid bannerblock bannerblockinnernew redesign">
	<div class="item banner-img1">
		<div class="row row-eq-height">
			<div class="container contentwrapper">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
					<div class="bannerblockcontent">
						<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo" />
						<h2 class="banner-title"> <strong>March 20th and 21st 2021 join us </strong> <strong>for 2 incredible days of Pagan spirit, magic,</strong> <strong>healing and community!</strong></h2>
						<ul class="list-inline">
							<li> <a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted2"><span>Buy Tickets</span></a>
							</li>
							<li> <a [routerLink]="['/boothtable']" target="_self" class="bannerblackbtn btngreengrad"><span>Vendors</span></a>
							</li>
							<li> <a [routerLink]="['/readers']" target="_self" class="bannerblackbtn btnbluegrad"><span>Readers</span></a>
							</li>
							<li> <a [routerLink]="['/agenda']" class="bannerblackbtn btnpurplegrad">See Agenda</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid homebg">
	<div class="container-fluid presenters-block1 redesign">
		<div class="presenters-block1-wrapper titleheader">
			<div class="container contentwrapper">
				<h2 class="orangegrad orangegrad2 pagetitle"> <strong>Please take the time to check out the many incredible presenters,</strong> <span class="subtxt">class organizers and workshop facilitators that we have coming to SpiritCon.</span></h2>
				<div class="innerpageblock-wrapper-content-outer">
					<div class="presenters-block1-wrapper-inner">
						<div class="row row-flex">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singlepresenters" *ngFor="let item of presenterlist; let i = index">
								<div class="singlepresenterswrapper">
									<div class="singlepresenterswrappertop">
										<h2 class="purplegrad">Presenter</h2>
									</div>
									<div class="singlepresenterscontent">
										<div class="half-circle">
											<div class="half-circle-inner">
												<img src="{{ item.image.basepath }}{{ item.image.image }}" />
											</div>
										</div>
										<div class="oval">
											<label><span>Name:</span> {{ item.speaker_name }}</label>
										</div>
										<p [innerHTML]="_sanitizer.bypassSecurityTrustHtml(item.description)"></p> <a class="readmore btnbluegrad" (click)="showcontents(item)">read more</a>
										<h4>{{ item.subjects_covered }}</h4>
										<div class="presenterdttime">
											<ul class="list-inline">
												<li>Times : <span>{{ item.start_date_time | date: "hh:mm a" }}</span>
												</li>
												<li>Date : <span>{{ item.start_date_time | date: "MM-dd-yyyy" }}</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<div *ngIf="isModalShown3" class="modal fade mybuynowModal" id="mybuynowModal" role="dialog" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true }" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png" />
					</a>
				</div>
				<h2> We would love for you to Exhibit or have a Table with us here at <span>SpiritCon!</span></h2>
				<h3> <span class="blue">Vendors</span> will be in a room separate from Readers and Healers to give better atmosphere to both.</h3>
				<ul>
					<li>Vendor booths are 10'x10' and $120.</li>
					<li>They have the option to do split booths that are 5'x10' for only $60.</li>
					<li>Reader booths are 6'x6' for $60 and Healer booths are 10'x10' for $80.</li>
					<li>All booths come with tables, tablecloths, and chairs.</li>
					<li>We also have info booths that are just a 4' table with tablecloth. These are free to any groups wishing to have one.</li>
				</ul>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick" />
					<input type="hidden" name="hosted_button_id" value="221" />
					<input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online" />
					<img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
				</form>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true }" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png" />
					</a>
				</div>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true }" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png" />
					</a>
				</div>
				<h6>GET A BOOTH OR TABLE!</h6>
				<p>To buy a booth space or reader table please contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown5" class="modal fade mybuynowModal contentshow" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true }" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a>
						<img src="../../assets/images/home/logo.png" />
					</a>
				</div>
				<h1>{{ contentdetails.speaker_name }}</h1>
				<p [innerHTML]=" _sanitizer.bypassSecurityTrustHtml(contentdetails.description) "></p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown6" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true }" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png" />
					</a>
				</div>
				<h6>SpiritCon Agenda 2019</h6>
				<p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>