<span class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
	<a (click)="scrollToTop()">
	  <i class="material-icons">
		keyboard_arrow_up
		</i>
	</a>
  </span>

<div class="container-fluid indexblock7new redesign">
	<div class="row">
		<div class="container contentwrapper indexblock7bg">
			<div class="indexblock1contentimg">
				<img src="../../assets/images/home/homeblock7img.webp">
			</div>
			<div class="indexblock1contentleft">
				<p>Come check out all our Incredible Vendor booths, spiritual readers, healers and more that will be coming to SpiritCon!</p>
				<h2>THE VENDOR BOOTHS AND HEALER TABLES WILL BE <br><span>FREE</span> OPEN TO THE PUBLIC FOR THE <br>DURATION OF THE EVENT!</h2>  <a [routerLink]="['/boothtable']" class="clickherebtn btnblackgrad">CLICK HERE NOW!</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid indexblock8new redesign">
	<div class="row">
		<div class="container contentwrapper">
			<div class="indexblock8left">
				<div class="indexblock1contentimgleft">
					<img src="../../assets/images/home/homeblock8img.webp">
				</div>
				<div class="indexblock1contentleft">
					<p>If you are traveling to the convention, we have you covered! Coming to SpiritCon from out of town is really simple!</p>
					<h2>PLEASE VISIT OUR TRAVEL AND LODGING PAGE TO <br>LEARN MORE ABOUT COMING TO <br>SPIRITCON FROM OUT OF STATE!</h2>
				</div> <a [routerLink]="['/travellodging']" class="clickherebtn btnblackgrad">CLICK HERE NOW!</a>
			</div>
			<div class="indexblock1contentimg">
				<img src="../../assets/images/home/homeblock8img2.webp">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid indexblock9new redesign">
	<div class="row">
		<div class="container contentwrapper indexblock9bg">
			<div class="indexblock1contentimg">
				<img src="../../assets/images/home/transpersonalmagick_promo_logo.webp">
			</div>
			<div class="indexblock1contentleft">
				<h2>QUANTUM PHYSICS IN <br>MAGICK MASTER CLASS</h2>
				<p>Monday April 6th (Immediately following SpiritCon) 3:00PM - 8:00PM</p> <a href="https://spiritconvention.com/assets/images/TranspersonalMagickMasterClass.pdf" target="_blank" class="clickherebtn btnblackgrad">KNOW MORE</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid footerblock">
	<div class="footerblockwrapper">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerblockleft">
				<div class="logowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/logo.png">
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footermenu">
				<ul class="list-inline">
					<li class="active"><a [routerLink]="['/']" target="_self">Home</a>
					</li>
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Venue Info <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a [routerLink]="['/conventioncenter']">Convention Center</a>
							</li>
							<li class="ssd lidiv2"><a [routerLink]="['/travellodging']">Travel/Lodging</a>
							</li>
							<</ul>
					</li>
					<li><a [routerLink]="['/agenda']">Agenda</a>
					</li>
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Participants <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="ssd lidiv1"><a [routerLink]="['/presenters']" target="_self">Presenters</a>
							</li>
							<li class="ssd lidiv1"><a [routerLink]="['/boothtable']" target="_self">Vendors</a>
							</li>
							<li class="ssd lidiv1"><a [routerLink]="['/readers']" target="_self">Readers</a>
							</li>
							<li><a [routerLink]="['/sponsor']" target="_self">Sponsor</a>
							</li>
						</ul>
					</li>
					<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank">Buy Tickets</a>
					</li>
					<li><a [routerLink]="['/aboutspiritcon']" target="_self">About SpiritCon</a>
					</li>
					<li><a style="cursor: pointer" (click)="callmodalforbuybooth()">Buy Booth</a>
					</li>
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Past Events <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a [routerLink]="['/pastevents2019']" target="_self">Past Event 2019</a>
							</li>
							<li><a [routerLink]="['/past-events']" target="_self">Past Event 2018</a>
							</li>
						</ul>
					</li>
					<li class="contactmenu"><a [routerLink]="['/contactus']" target="_self">Contact Us</a>
					</li>
					<li><a [routerLink]="['/login']" target="_self">Login</a>
					</li>
					</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerblockright">
				<div class="row footerblockrightwrapper">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 socialmedialinkblock">
						<ul class="list-inline socialmedialinks">
							<li>Follow us</li>
							<li>
								<a href="https://www.facebook.com/spiritconutah/" target="_blank">
									<img src="../../assets/images/home/ftmedia-iconfb.webp">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyrightmenu">
				<p>© Copyright 2018 spirit con. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown2" class="modal fade mybuynowModal subscribenewsletter" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()"> <span aria-hidden="true">&times;</span> 
				</button>
				<img src="../../assets/images/home/logo.png" alt="logo" class="img-responsive center-block">
			</div>
			<div class="modal-body">
				<h3 style="text-align: center">You are successfully added to our newsletter. We will get back to you soon.</h3>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown" class="modal fade mybuynowModal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown3" class="modal fade mybuynowModal" id="mybuynowModal" role="dialog" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h2>We would love for you to Exhibit or have a Table with us here at <span>SpiritCon!</span></h2>
				<h3><span class="blue">Vendors</span> will be in a room separate from Readers and Healers to give better atmosphere to both.</h3>
				<ul>
					<li>Vendor booths are <span>10'x10'</span> and $120.</li>
					<li>They have the option to do split booths that are <span>5'x10'</span> for only $60.</li>
					<li>Reader booths are <span>6'x6'</span> for $60 and Healer booths are <span>10'x10'</span> for $80.</li>
					<li>All booths come with tables, tablecloths, and chairs.</li>
					<li>We also have info booths that are just a 4' table with tablecloth. These are free to any groups wishing to have one.</li>
				</ul>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="221">
					<input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
					<img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
				</form>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>GET A BOOTH OR TABLE!</h6>
				<p>To buy a booth space or reader table please contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown5" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2019</h6>
				<p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown10" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2020</h6>
				<p>We will be launching our new Agenda for the 2020 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom1" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>