.banner-img1{background:url(../../assets/images/readers/readersbanner-img1-bg.jpg) no-repeat right center;background-size:cover;padding:12px 0;margin-bottom:0;min-height:1px}
.homebg{background-image:url(../../assets/images/readers/readersmainbg.jpg);background-position:top center;background-repeat:no-repeat;background-size:cover}
.redesign .contentwrapper{width:1600px;margin:0 auto;display:block}
@media(max-width:1800px) {
.banner-img1{background-position:right 30% center}
}
@media(max-width:1666px) {
.redesign .contentwrapper{width:96%!important}
.homebg{background-position:top 85% center!important}
}
@media(max-width:1440px) {
.banner-img1{background-position:right 25% center}
}
@media(max-width:1400px) {
    .banner-img1{background-position:right 65% center}
    }

@media(max-width:1199px) {
.banner-img1{background-position:top right!important;background-size:210%!important;padding:29px 0;margin-bottom:0;min-height:1px;padding-top:40%}
}