<app-header></app-header>
<div class="container-fluid bannerblock">
  <div class="item ">
    <div class="row row-eq-height">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockright pull-right">
        <img src="../../assets/images/sponsor_bannerimg.jpg"/>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
        <div class="bannerblockcontent">
          <h2>April 4th and 5th 2020 join us for 2 incredible days of Pagan spirit, magic, healing and community!</h2>
          <h3>Held at the beautiful Davis Convention Center in Layton, UT </h3>
          <h4>1651 N 700 W, Layton, UT 84041</h4>
          <ul class="list-inline">

            <li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted"><span>Buy Tickets</span></a></li>
            <!--<li><a (click)="callmodalforbuybooth()" target="_self" class="bannerblackbtn"><span>Buy Booths or tables</span></a></li>-->
<!-- 
            <li><a style="cursor: pointer" (click)="callmodalforagenda()"  class="bannerblackbtn"><span>Vendors</span></a></li>
            <li><a style="cursor: pointer" (click)="callmodalforagenda()"  class="bannerblackbtn"><span>Readers</span></a></li> 
            <li><a  style="cursor: pointer" (click)="callmodalforagendamoalnew()" class="bannerblackbtn"><span>See Agenda</span></a></li> -->

            <li><a [routerLink]="['/boothtable']" class="bannerblackbtn"  target="_self"><span>Vendors</span></a></li>
            <li><a [routerLink]="['/readers']" class="bannerblackbtn" target="_self"><span>Readers</span></a></li>

           <li><a [routerLink]="['/agenda']" class="bannerblackbtn"><span>See Agenda</span></a></li> 
           <!-- <li><a  style="cursor: pointer" (click)="callmodalforagendamoalnew()" class="bannerblackbtn"><span>See Agenda</span></a></li>   -->
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<!--<div class="container-fluid indexblock1">-->
  <!--<div class="row">-->
    <!--<div class="container contentwrapper">-->
      <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">-->
        <!--<div class="indexblock1img1leftwrapper">-->
          <!--<img src="../../assets/images/sponsor_img2.jpg">-->
        <!--</div>-->
        <!--<div class="contentcentered sponsornewtext">-->
          <!--<h1>A Magical Emporium</h1>-->
          <!--<h2>Ritual supplies, candles,-->
            <!--herbs, stones, oils and more for-->
            <!--Wiccans, Druids, Pagans,-->
            <!--Witches & Sensible Muggles.-->
          <!--</h2>-->
          <!--<p>3834 South Main Street, Salt Lake City,<br/>-->
            <!--UT 84115 801-906-0470-->
            <!--<a href="http://www.croneshollow.com/" target="_blank">www.croneshollow.com</a>-->
          <!--</p>-->


        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="container-fluid newimgconblock_ami">


  <div class="newimgconblock_left">

  <div class="newimgconblock_span">
<img src="../../assets/images/Chad_Ledford_Pic.jpg" class="Chad_Ledford_Pic"/>

<img src="../../assets/images/AllstateAd.jpg" class="AllstateAd"/>
 <div class="clearfix"></div>
    </div>



  <img src="../../assets/images/The_Hidden_Sage_Ad_for_SpiritCon_2020.jpg" class="he_Hidden_Sage"/>

  <img src="../../assets/images/NorthStarMortgageAd2.jpg" class="NorthStarMortgageAd2" />

  </div>

  <div class="newimgconblock_right">
  <img src="../../assets/images/CC_Shifflett.JPG" class="CC_Shifflett" />

  </div>

  <div class="clearfix"></div>
</div>



<!--<div class="container-fluid bottombannerblock2">-->
  <!--<div class="bottombannerblock2-wrapper">-->
    <!--<div class="row row-flex">-->
      <!--<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">-->
        <!--<div class="bottombannerblock2content">-->
          <!--<h2>Come check out all our Incredible Vendorn booths, spiritual readers, healers and more that will be coming to SpiritCon!</h2>-->
          <!--<h3>THE VENDOR BOOTHS AND HEALER TABLES WILL BE <span>FREE</span> OPEN TO THE PUBLIC FOR THE DURATION OF THE EVENT!</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">-->
        <!--<a class="banneryellowbtnsml" [routerLink]="['/boothtable']">Click here Now!</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div style="background: #fbfbfb;"><img src="../../assets/images/sponsor_comingsoon.jpg" style="display: block; width: auto; max-width: 100%; display: block; margin: 0 auto;"></div>-->

<div class="container-fluid bottombannerblock">
  <div class="bottombannerblock-wrapper">
    <div class="row row-flex">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="bottombannerblocklogo">
          <a href="http://www.thehiddensage.com/" target="_blank"><img src="../../assets/images/bottombannerblocklogo.png"/></a>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="bottombannerblockcontent">
          <h2>SpiritCon Sponsor</h2>
          <h3>ONE OF THE LARGEST SELECTION OF METAPHYSICAL PRODUCTS and books in Utah. We are here to assist you on your journey of understanding <span>Metaphysics, Meditation, Pagan, and Holistic living wherever you live.</span> </h3>
          <div class="bottombannerblocklogohiddenstage">
            <a href="http://www.thehiddensage.com/" target="_blank"><img src="../../assets/images/bottombannerlogo-hiddenstage.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---new section added 2018-02-20---->
<div class="container-fluid bottombannerblock3">
  <img src="../../assets/images/bottombannerblock3bgsml.jpg" class="bottombannerblock3bgsml">
  <div class="bottombannerblock3-wrapper">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="bottombannerblock3content">
          <h3>If you are traveling to the convention we have you covered! Coming to SpiritCon from out of town is really simple!</h3>
          <div class="h2wrapper">
            <h2><span><a [routerLink]="['/travellodging']">PLEASE VISIT OUR TRAVEL AND LODGING PAGE TO LEARN MORE ABOUT COMING TO SPIRITCON FROM OUT OF STATE!</a></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---new section added 2018-02-20---->
<app-footer></app-footer>



<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
        <div class="modallogowrapper">
          <a [routerLink]="['/']"><img src="../../assets/images/logo-spiritconversation.png"></a>
        </div>
        <!--  <h2>We have 10 of the <span>6'x6'</span> Reader spaces left, 6 of the <span>10'x10'</span> Vendor spaces, and 2 of the <span>5'x10'</span> Vendor spaces.</h2>-->
        <h6>GET A BOOTH OR TABLE!</h6>
        <p>To buy a booth space or reader table please contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>

        <!-- <iframe style="border: none" src="http://influxiq.com/projects/paypalt.php"></iframe>-->


      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown5" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
        <div class="modallogowrapper">
          <a [routerLink]="['/']"><img src="../../assets/images/logo-spiritconversation.png"></a>
        </div>

        <h6>SpiritCon Agenda 2019</h6>

        <p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>





      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShown10" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
        <div class="modallogowrapper">
          <a [routerLink]="['/']"><img src="../../assets/images/logo-spiritconversation.png"></a>
        </div>

        <h6>SpiritCon Agenda 2020</h6>



        <p>We will be launching our new Agenda for the 2020 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>



      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown" class="modal fade mybuynowModal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
        <div class="modallogowrapper">
          <a [routerLink]="['/']"><img src="../../assets/images/logo-spiritconversation.png"></a>
        </div>
        <br/>
        <h2>COMING Soon!</h2>
      </div>
    </div>
  </div>
</div>