<app-header></app-header>
<div class="container-fluid bannerblock bannerblockinnernew redesign">
	<div class="item banner-img1">
		<div class="row row-eq-height">
			<div class="container contentwrapper">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
					<div class="bannerblockcontent">
						<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo" />
						<h2 class="banner-title"> <strong>March 20th and 21st 2021 join us </strong> <strong>for 2 incredible days of Pagan spirit, magic,</strong> <strong>healing and community!</strong></h2>
						<h3>Held at the beautiful Davis Convention Center in Layton, UT </h3>
						<h4>1651 N 700 W, Layton, UT 84041</h4>
						<ul class="list-inline">
							<li> <a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted2"><span>Buy Tickets</span></a>
							</li>
							<li> <a [routerLink]="['/boothtable']" target="_self" class="bannerblackbtn btngreengrad"><span>Vendors</span></a>
							</li>
							<li> <a [routerLink]="['/readers']" target="_self" class="bannerblackbtn btnbluegrad"><span>Readers</span></a>
							</li>
							<li> <a [routerLink]="['/agenda']" class="bannerblackbtn btnpurplegrad">See Agenda</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid homebg sponsor-wrapper sponsorpage">
	<div class="sponsorcontentbg">
		<div class="container-fluid newimgconblock_ami redesign">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgblock1">
					<div class="newimgconblock_span">
						<img src="../../assets/images/Chad_Ledford_Pic.jpg" class="Chad_Ledford_Pic" />
						<img src="../../assets/images/AllstateAd.jpg" class="AllstateAd" />
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgblock2">
					<img src="../../assets/images/The_Hidden_Sage_Ad_for_SpiritCon_2020.jpg" class="he_Hidden_Sage" />
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgblock3">
					<img src="../../assets/images/NorthStarMortgageAd2.jpg" class="NorthStarMortgageAd2" />
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgblock4">
					<img src="../../assets/images/CC_Shifflett.JPG" class="CC_Shifflett" />
				</div>
				<div class="flameimg">
					<img src="../../assets/images/sponsor/imgflame.webp" class="img_flame" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid spiritconsponsorblocknew redesign">
		<div class="row">
			<div class="container contentwrapper spiritconsponsorblocknewbg">
				<div class="arrowdesigntop">
					<img src="../../assets/images/sponsor/sponsorbannerdesignarrow1.webp" class="sponsorbannerdesignarrow1" />
					<img src="../../assets/images/sponsor/sponsorbannerdesignarrow2.webp" class="sponsorbannerdesignarrow2" />
					<img src="../../assets/images/sponsor/sponsorbannerdesignarrow3.webp" class="sponsorbannerdesignarrow3" />
				</div>
				<div class="indexblock1contentleft">
					<h1>SPIRITCON SPONSOR</h1>
					<h3>ONE OF THE LARGEST SELECTION OF METAPHYSICAL PRODUCTS <br>AND BOOKS IN UTAH. WE ARE HERE TO ASSIST YOU ON YOUR <br>JOURNEY OF UNDERSTANDING METAPHYSICS, MEDITATION, <br>PAGAN, AND HOLISTIC LIVING WHEREVER YOU LIVE.</h3>
				</div>
				<div class="indexblock1contentright">
					<div class="logohiddenstage">
						<a href="http://www.thehiddensage.com/" target="_blank">
							<img src="../../assets/images/sponsor/logo-hiddenstage.webp" />
						</a>
					</div> <a [routerLink]="['/agenda']" class="clickherebtn btnblackgrad">CLICK HERE NOW!</a>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>GET A BOOTH OR TABLE!</h6>
				<p>To buy a booth space or reader table please contact us at <a href="tel:(801) 970-1214">(801) 970-1214</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at P.O. Box 123 Clearfield, Utah 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown5" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2019</h6>
				<p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 970-1214">(801) 970-1214</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at P.O. Box 123 Clearfield, Utah 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown10" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2020</h6>
				<p>We will be launching our new Agenda for the 2020 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 970-1214">(801) 970-1214</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at P.O. Box 123 Clearfield, Utah 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown" class="modal fade mybuynowModal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br />
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>