<app-header></app-header>
<div class="container-fluid bannerblock bannerblockinnernew redesign">
	<div class="item banner-img1">
		<div class="row row-eq-height">
			<div class="container contentwrapper">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
					<div class="bannerblockcontent">
						<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo" />
						<h2 class="banner-title"> <strong>March 20th and 21st 2021 join us </strong> <strong>for 2 incredible days of Pagan spirit, magic,</strong> <strong>healing and community!</strong></h2>
						<h3>SpiritCon was born from the need to have a local place for a witchy, Pagan, metaphysical, <br>and healing oriented individual to participate in community and support structures.</h3>
						<h4>There is very little awareness to how large and diverse this of the individual, groups and community <br>at large. We aim to "open dialogue" and build trust and connections to better lead, guide and <br>enhance the spiritual lives of those identifying under the "Pagan" banner</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid homebg aboutblock aboutspiritconpage">
	<div class="container-fluid indexblock1new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper"></div>
					<div class="contentcentered">
						<h2 class="orangegrad"> <strong>SpiritCon is a safe place for Pagans,</strong> <strong>spiritual seekers and healers to gather in </strong> <strong>communion for learning, sharing and</strong> <strong>celebrating together.</strong></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>Information is something that makes a very large impact in the lives of Pagans and spiritual seekers alike. Coming together to share in education, skill development and share in each other’s unique gifts and ideas can be a very empowering experience.</p>
								<p>We want to explore new and ancient horizons together and inspire each other to live in the Pagan and spiritual lifestyles together. <span>Most of all we are very supportive of developing families, communities, organizations and we are all coming together to have fun and explore!</span>
								</p>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/aboutspiritcon/abooutblock1img1.webp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock2new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper"></div>
					<div class="contentcentered">
						<h2 class="greengrad"> <strong>GET YOUR TICKETS FOR BOTH </strong> <strong>INCREDIBLE DAYS AT</strong> <strong>SPIRITCON RIGHT AWAY</strong><div class="btnblackgradwrapper"> <a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="clickherebtn btnblackgrad">Click here</a></div></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>GET YOUR BOOTH SPACE OR TABLE AT SPIRITCON AND BRING YOUR READINGS OR BUSINESS TO THE</p>
								<h4 class="purplebg"><span class="triangle-bottom-left"></span> CONVENTION!</h4>  <a (click)="callmodalforbuybooth()" class="clickherebtn btnblackgrad">Click here</a>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/home/homeblock2img2.webp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid gotoblocknew redesign">
		<div class="row">
			<div class="container contentwrapper gotoblocknewbg">
				<div class="indexblock1contentleft">
					<h2>Go to the agenda page now and <br>see what we have in store for <br>these incredible 2 days!</h2>  <a [routerLink]="['/agenda']" class="clickherebtn btnblackgrad">CLICK HERE NOW!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock5new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper"></div>
					<div class="contentcentered">
						<h2 class="orangegrad"> <strong>OUR SPIRIT BOARD OF DIRECTORS</strong></h2>
						<p>All of the tireless work that has gone into creating SpiritCon is given to the credit of everyone involved. Our board has especially put in a lot of time and effort. The following are the “Spirit Board” facilitating the SpiritCon event.</p>
						<div class="indexblock1content">
							<ul class="list-inline indexblock5lists">
								<li>
									<h1>KARA SLATER</h1>  <a href="mailto:volunteers@spiritconvention.com">volunteers@spiritconvention.com</a>
								</li>
								<li>
									<h1>DOUG LUCERO</h1>  <a href="mailto:sponsorships@spiritconvention.com">sponsorships@spiritconvention.com</a>
								</li>
								<li>
									<h1>Hope Gorman</h1>  <a href="mailto:outreach@spiritconvention.com">outreach@spiritconvention.com</a>
								</li>
								<li>
									<h1>Diana Baldwin</h1>  <a href="mailto:presenters@spiritconvention.com">presenters@spiritconvention.com</a>
								</li>
								<li>
									<h1>Michael Sandman</h1>  <a href="mailto:infobooths@spiritconvention.com">infobooths@spiritconvention.com</a>
								</li>
								<li>
									<h1>Jessi Lucero</h1>  <a href="mailto:vendors@spiritconvention.com">vendors@spiritconvention.com</a>
								</li>
								<li>
									<h1>Ric Womble</h1>  <a href="mailto:donations@spiritconvention.com">donations@spiritconvention.com</a>
								</li>
							</ul>
							<div class="indexblock5contentimg">
								<img src="../../assets/images/aboutspiritcon/indexblock5newimg2.webp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<div *ngIf="isModalShown3" class="modal fade mybuynowModal" id="mybuynowModal" role="dialog" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h2>We would love for you to Exhibit or have a Table with us here at <span>SpiritCon!</span></h2>
				<h3><span class="blue">Vendors</span> will be in a room separate from Readers and Healers to give better atmosphere to both.</h3>
				<ul>
					<li>Vendor booths are 10'x10' and $120.</li>
					<li>They have the option to do split booths that are 5'x10' for only $60.</li>
					<li>Reader booths are 6'x6' for $60 and Healer booths are 10'x10' for $80.</li>
					<li>All booths come with tables, tablecloths, and chairs.</li>
					<li>We also have info booths that are just a 4' table with tablecloth. These are free to any groups wishing to have one.</li>
				</ul>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="221">
					<input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
					<img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
				</form>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown" class="modal fade mybuynowModal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>GET A BOOTH OR TABLE!</h6>
				<p>To buy a booth space or reader table please contact us at <a href="tel:(801) 970-1214">(801) 970-1214</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at P.O. Box 123 Clearfield, Utah 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown5" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2019</h6>
				<p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 970-1214">(801) 970-1214</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at P.O. Box 123 Clearfield, Utah 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown10" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2020</h6>
				<p>We will be launching our new Agenda for the 2020 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 970-1214">(801) 970-1214</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at P.O. Box 123 Clearfield, Utah 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom1" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom2" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>