.banner-img1 {
    background: url('../../assets/images/home/banner-img1-bg.jpg') no-repeat right center;
    background-size: cover;
    padding: 30px 0px; margin-bottom: 0;
    min-height: 1px;
}

.homebg{
    background: url('../../assets/images/home/mainbg.jpg') no-repeat top 85% center;
    background-size: cover;
    padding: 0px; margin-bottom: 0;
    min-height: 1px;
}


.redesign .contentwrapper {width: 1600px !important;margin: 0 auto;display: block;}

@media(max-width:1600px){
.redesign .contentwrapper {width: 96% !important;}
}
@media(max-width:1199px){
.banner-img1{
    background-position: top right !important;
    background-size: 157% !important;
    padding: 29px 0px;
    margin-bottom: 0;
    min-height: 1px;
    padding-top: 50%;
}
}