<app-header></app-header>
<div class="container-fluid bannerblock redesign">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="slidermovecls">
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>  <span class="sr-only">Previous</span> 
			</a>
			<ol class="carousel-indicators carousel-indicators-numbers">
				<li data-target="#myCarousel" data-slide-to="0" class="active">1</li>
				<li data-target="#myCarousel" data-slide-to="1">2</li>
				<li data-target="#myCarousel" data-slide-to="2">3</li>
			</ol>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>  <span class="sr-only">Next</span> 
			</a>
		</div>
		<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active banner-img1">
					<div class="row row-eq-height">
						<div class="container contentwrapper">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
								<div class="bannerblockcontent">
									<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo">
									<h2 class="banner-title"> <strong>April 4th and 5th 2020 join us</strong> <strong>for 2 incredible days of</strong> <strong>Pagan spirit, magic, healing</strong> <strong>and community!</strong></h2>
									<h3>Held at the beautiful Davis Convention Center in Layton, UT </h3>
									<h4>1651 N 700 W, Layton, UT 84041</h4>
									<ul class="list-inline">
										<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted"><span>Buy Tickets</span></a>
										</li>
										<li><a [routerLink]="['/boothtable']" class="bannerblackbtn btngreengrad" target="_self"><span>Get a Booth or Table!</span></a>
										</li>
										<li><a [routerLink]="['/agenda']" class="bannerblackbtn btnbluegrad"><span>See our Agenda</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item banner-img1">
					<div class="row row-eq-height">
						<div class="container contentwrapper">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
								<div class="bannerblockcontent">
									<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo">
									<h2 class="banner-title"> <strong>April 4th and 5th 2020 join us</strong> <strong>for 2 incredible days of</strong> <strong>Pagan spirit, magic, healing</strong> <strong>and community!</strong></h2>
									<h3>Come and be part of our community and show your support for the</h3>
									<h4>alternative spiritual paths we all walk!</h4>
									<ul class="list-inline">
										<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted"><span>Buy Tickets</span></a>
										</li>
										<li><a [routerLink]="['/boothtable']" class="bannerblackbtn btngreengrad" target="_self"><span>Get a Booth or Table!</span></a>
										</li>
										<li><a [routerLink]="['/agenda']" class="bannerblackbtn btnbluegrad"><span>See our Agenda</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item banner-img1">
					<div class="row row-eq-height">
						<div class="container contentwrapper">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
								<div class="bannerblockcontent">
									<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo">
									<h2 class="banner-title"> <strong>April 4th and 5th 2020 join us</strong> <strong>for 2 incredible days of</strong> <strong>Pagan spirit, magic, healing</strong> <strong>and community!</strong></h2>
									<h3>Energy Classes include Empathic Defense, Chi Gung, Chakras, Photonic</h3>
									<h4>Method and Dance Chant Magic.</h4>
									<ul class="list-inline">
										<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted"><span>Buy Tickets</span></a>
										</li>
										<li><a [routerLink]="['/boothtable']" class="bannerblackbtn btngreengrad" target="_self"><span>Get a Booth or Table!</span></a>
										</li>
										<li><a [routerLink]="['/agenda']" class="bannerblackbtn btnbluegrad"><span>See our Agenda</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid homebg">
	<div class="container-fluid indexblock1new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper">
						<img src="../../assets/images/home/homeblock1img.webp">
					</div>
					<div class="contentcentered">
						<h2 class="orangegrad"> <strong>COME TO SPIRITCON FOR ONE OF THE</strong> <strong>MOST INCREDIBLE LEARNING</strong> <strong>EXPERIENCES OF YOUR LIFETIME!</strong></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>Dozens of speakers, trainers and spiritual healers are all coming together in one place for 2 incredible days of sharing. We are a Spiritual Convention centered on enriching our connection with nature, deities, ourselves, and, of course, each other. Join us as we bring all paths together to connect, grow, learn, and understand.</p>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/home/homeblock1img2.webp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock2new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper"></div>
					<div class="contentcentered">
						<h2 class="greengrad"> <strong>GET YOUR TICKETS FOR BOTH </strong> <strong>INCREDIBLE DAYS AT</strong> <strong>SPIRITCON RIGHT AWAY</strong><div class="btnblackgradwrapper"> <a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="clickherebtn btnblackgrad">Click here</a></div></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>GET YOUR BOOTH SPACE OR TABLE AT SPIRITCON AND BRING YOUR READINGS OR BUSINESS TO THE</p>
								<h4 class="purplebg"><span class="triangle-bottom-left"></span> CONVENTION!</h4>  <a (click)="callmodalforbuybooth()" class="clickherebtn btnblackgrad">Click here</a>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/home/homeblock2img2.webp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock3new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper">
						<img src="../../assets/images/home/homeblock3img.webp">
					</div>
					<div class="contentcentered">
						<h2 class="bluegrad"> <strong>COMING APRIL 4TH AND 5TH 2020</strong> <strong>STARTING AT 9AM EACH DAY TO THE</strong> <strong>DAVIS CONFERENCE CENTER IN</strong> <strong>LAYTON IS SPIRITCON.</strong></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>This is a non-denominational convention for everyone who wants to learn more about energy in a number of different ways; new, experienced, or just curious. Join us for two days brimming with classes and panels on energy, personal spiritual growth, divination, traditions and much more.</p>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/home/homeblock3img2.webp">
							</div>
						</div>
						<ul class="list-inline">
							<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted2"><span>Buy Tickets</span></a>
							</li>
							<li><a [routerLink]="['/boothtable']" target="_self" class="bannerblackbtn btngreengrad"><span>Vendors</span></a>
							</li>
							<li><a [routerLink]="['/readers']" target="_self" class="bannerblackbtn btnbluegrad"><span>Readers</span></a>
							</li>
							<li><a [routerLink]="['/agenda']" class="bannerblackbtn btnpurplegrad">See Agenda</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock4new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper"></div>
					<div class="contentcentered">
						<h2 class="purplegrad"> <strong>BESIDES ALL OF THE AMAZING</strong> <strong>PRESENTATIONS WE WILL ALSO</strong> <strong>HAVE PANELS THAT WILL INCLUDE:</strong></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>What is a Witch/Witchcrafting, Comparative Systems in Paganism, How to Support your Witch, Community for Solitaries, Safety <span>(Warding, Physical, Etc.)</span>, Spell Writing, Meditation, and Ritual Construction.</p>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/home/homeblock4img2.webp">
							</div>
						</div>
						<ul class="list-inline indexblock4lists">
							<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted2"><span>Buy Tickets</span></a>
							</li>
							<li><a [routerLink]="['/boothtable']" target="_self" class="bannerblackbtn btngreengrad"><span>Vendors</span></a>
							</li>
							<li><a [routerLink]="['/readers']" target="_self" class="bannerblackbtn btnbluegrad"><span>Readers</span></a>
							</li>
							<li><a [routerLink]="['/agenda']" class="bannerblackbtn btnpurplegrad">See Agenda</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock5new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper">
						<img src="../../assets/images/home/homeblock5img.webp">
					</div>
					<div class="contentcentered">
						<h2 class="orangegrad"> <strong>CLASSES THAT WILL BE OFFERED AT</strong> <strong>OUR TWO-DAY EVENT</strong></h2>
						<div class="indexblock1content">
							<ul class="list-inline indexblock5lists">
								<li><span>Craft classes include Everyday Crafting, Flat Magic (Paper Crafts), Altars, and Crystal Grids.</span>
								</li>
								<li><span>Energy Classes include Empathic Defense, Chi Gung, Chakras, and Dance Chant Magic.</span>
								</li>
								<li><span>Nature classes include Animals (Totems and More), Plants, Rocks/Crystals, and Mythical Creatures.</span>
								</li>
								<li><span>Cycles classes include Wheel of the Year, Lunar, Mysteries, and Places of Power.</span>
								</li>
								<li><span>Traditions classes include Greek/Roman, Celtic, Egyptian, Norse, Root Magic, Intro to Qabala, and Beginning Devotional Practices.</span>
								</li>
								<li><span>Divination classes include Tarot reading, Tea Leaf reading, Casting bones, Astrology, Runes, Pendulum, and Sigils.</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid indexblock6new redesign">
		<div class="row">
			<div class="container contentwrapper">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexblock1contentwrapper">
					<div class="indexblock1img1leftwrapper"></div>
					<div class="contentcentered">
						<h2 class="bluegrad"> <strong>WE WILL HAVE A VENDOR ROOM FULL</strong> <strong>OF CRYSTALS, WOOD BURNED ITEMS,</strong> <strong>HAND TOOLED LEATHER WORKS,</strong> <strong>JEWELRY, HANDMADE CRAFTS,</strong> <strong>SOAPS, CANDLES, AND MORE TO AID </strong> <strong>IN YOUR SPIRITUAL JOURNEY.</strong></h2>
						<div class="indexblock1content">
							<div class="indexblock1contentleft">
								<p>There will also be a reader and healer room for Tarot, Medium, and Psychic readings, as well as Reiki.</p>
								<div class="indexblock2contentimg">
									<img src="../../assets/images/home/homeblock6img3.webp">
								</div>
							</div>
							<div class="indexblock1contentimg">
								<img src="../../assets/images/home/homeblock6img2.webp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<div *ngIf="isModalShown3" class="modal fade mybuynowModal" id="mybuynowModal" role="dialog" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h2>We would love for you to Exhibit or have a Table with us here at <span>SpiritCon!</span></h2>
				<h3><span class="blue">Vendors</span> will be in a room separate from Readers and Healers to give better atmosphere to both.</h3>
				<ul>
					<li>Vendor booths are <span>10'x10'</span> and $120.</li>
					<li>They have the option to do split booths that are <span>5'x10'</span> for only $60.</li>
					<li>Reader booths are <span>6'x6'</span> for $60 and Healer booths are <span>10'x10'</span> for $80.</li>
					<li>All booths come with tables, tablecloths, and chairs.</li>
					<li>We also have info booths that are just a 4' table with tablecloth. These are free to any groups wishing to have one.</li>
				</ul>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="221">
					<input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
					<img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
				</form>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>GET A BOOTH OR TABLE!</h6>
				<p>To buy a booth space or reader table please contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown5" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2019</h6>
				<p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown10" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2020</h6>
				<p>We will be launching our new Agenda for the 2020 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom1" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom2" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShownHOME" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<label class="homepopuplabelcss">Due to the Coronavirus, we will be postponing SpiritCon. We are reorganizing and plan to have our new date up soon. <a href="https://www.sltrib.com/news/2020/03/12/coronavirus-spreads-utah/?fbclid=IwAR2aH62zoQJWXIhzj0kLMNBVvtp2wnBGgLb18-2ggbZuYcmW19bD0NrnOS8%22" target="_blank">Please see this issue that we are heeding.</a> 
				</label>
			</div>
		</div>
	</div>
</div>