<app-header></app-header>
<div class="container-fluid bannerblock bannerblockinnernew redesign">
	<div class="item banner-img1">
		<div class="row row-eq-height">
			<div class="container contentwrapper">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bannerblockleft">
					<div class="bannerblockcontent">
						<img class="logobanner" src="../../assets/images/home/logo.png" alt="logo">
						<h2 class="banner-title"> <strong>April 4th and 5th 2020 join us</strong> <strong>for 2 incredible days of Pagan spirit, magic,</strong> <strong>healing and community!</strong></h2>
						<ul class="list-inline">
							<li><a href="https://www.eventbrite.com/e/spiritcon-2020-tickets-64701065629?fbclid=IwAR2Y2CfhMWxveRfn9E-DWSi13SHS_X-bm3auszxtJxumm3GU2jA4ThhQSqs" target="_blank" class="getstarted2"><span>Buy Tickets</span></a>
							</li>
							<li><a [routerLink]="['/boothtable']" target="_self" class="bannerblackbtn btngreengrad"><span>Vendors</span></a>
							</li>
							<li><a [routerLink]="['/readers']" target="_self" class="bannerblackbtn btnbluegrad"><span>Readers</span></a>
							</li>
							<li><a [routerLink]="['/agenda']" class="bannerblackbtn btnpurplegrad">See Agenda</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid homebg contactuspage">
	<div class="container-fluid contactusformblock contactusform-block1 redesign">
		<div class="container contentwrapper">
			<div class="innerpageblock-wrapper-content-outer">
				<div class="contactusformblockwrapper">
					<div class="row row-flex">
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 contactusformblockleft">
							<div class="row row-flex">
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="spiritconlogowrapper">
										<img src="../../assets/images/spiritconlogo-contactus.png" />
									</div>
									<h2>Spirit Convention</h2>
									<h4>1661 N. Main Street<br> Tel: <a href="tel:+(801) 773-7243">(801) 773-7243</a></h4>
									<div class="sociallinks">
										<h5>Connect with us</h5>
										<ul class="list-inline">
											<li>
												<a href="https://www.facebook.com/spiritconutah/" target="_blank">
													<img src="../../assets/images/icon-facebook.png" />
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 contactusformblockright">
							<form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
								<h2>Contact Form</h2>
								<div class="forminnerwrapper">
									<div class="form-group">
										<input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name" [formControl]="dataForm.controls['name']"> <span class="has-error" *ngIf="dataForm.controls['name'].touched && !dataForm.controls['name'].valid">Name is Required !</span>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" id="email" placeholder="Email" [formControl]="dataForm.controls['email']"> <span class="has-error" *ngIf="dataForm.controls['email'].touched && getemail('blank')==true">Email is Required !</span>  <span class="has-error" *ngIf="dataForm.controls['email'].touched && getemail('invalid')==true">Email is not valid!</span>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="number" placeholder="Phone" [formControl]="dataForm.controls['phone']">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="subject" placeholder="Subject" [formControl]="dataForm.controls['subject']"> <span class="has-error" *ngIf="dataForm.controls['subject'].touched && !dataForm.controls['subject'].valid">Subject is Required !</span>
									</div>
									<div class="form-group">
										<textarea class="form-control" id="textarea" rows="5" placeholder="Message" [formControl]="dataForm.controls['message']"></textarea><span class="has-error" *ngIf="dataForm.controls['message'].touched && !dataForm.controls['message'].valid">Message is Required !</span>
									</div>
									<button type="submit"><span>Submit</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
<div *ngIf="isModalShown3" class="modal fade mybuynowModal" id="mybuynowModal" role="dialog" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h2>We would love for you to Exhibit or have a Table with us here at <span>SpiritCon!</span></h2>
				<h3><span class="blue">Vendors</span> will be in a room separate from Readers and Healers to give better atmosphere to both.</h3>
				<ul>
					<li>Vendor booths are 10'x10' and $120.</li>
					<li>They have the option to do split booths that are 5'x10' for only $60.</li>
					<li>Reader booths are 6'x6' for $60 and Healer booths are 10'x10' for $80.</li>
					<li>All booths come with tables, tablecloths, and chairs.</li>
					<li>We also have info booths that are just a 4' table with tablecloth. These are free to any groups wishing to have one.</li>
				</ul>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="221">
					<input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
					<img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
				</form>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>Thanks for your interest. We'll get back to you soon.</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown4" class="modal fade mybuynowModal buybooth" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>GET A BOOTH OR TABLE!</h6>
				<p>To buy a booth space or reader table please contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:Vendors@spiritconvention.com" target="_top">Vendors@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown5" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2019</h6>
				<p>We will be launching our new Agenda for the 2019 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShown10" class="modal fade mybuynowModal agendamoal" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<h6>SpiritCon Agenda 2020</h6>
				<p>We will be launching our new Agenda for the 2020 SpiritCon July 1st! Please check back and in the meantime if you would like to get an idea contact us at <a href="tel:(801) 773-7243">(801) 773-7243</a> email us at <a href="mailto:info@spiritconvention.com" target="_top">info@spiritconvention.com</a> or come into the Hidden Sage at 1661 N. Main Street Sunset, UT. 84015</p>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom1" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isModalShowncom2" class="modal fade mybuynowModal commingsoon" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="staticModal.hide()">&times;</button>
				<div class="modallogowrapper">
					<a [routerLink]="['/']">
						<img src="../../assets/images/home/logo.png">
					</a>
				</div>
				<br/>
				<h2>COMING Soon!</h2>
			</div>
		</div>
	</div>
</div>